* {
  margin: 0;
  padding: 0;
}

body, html{
	height: 100vh;
}

.page-wrapper {
  @supports (-webkit-appearance:none) {
    .os-android & {
      min-height: calc(100vh - 56px);
    }
  }
}

.page-wrapper {
	position: relative;
  font-family: "Inconsolata", monospace;
  height: 100vh;
  background: linear-gradient(
      224deg,
      rgba(63, 63, 63, 0.1) 0%,
      rgba(63, 63, 63, 0.1) 50%,
      rgba(155, 155, 155, 0.1) 50%,
      rgba(155, 155, 155, 0.1) 100%
    ),
    linear-gradient(
      89deg,
      rgba(75, 75, 75, 0.02) 0%,
      rgba(75, 75, 75, 0.02) 50%,
      rgba(99, 99, 99, 0.02) 50%,
      rgba(99, 99, 99, 0.02) 100%
    ),
    linear-gradient(
      151deg,
      rgba(14, 14, 14, 0.02) 0%,
      rgba(14, 14, 14, 0.02) 50%,
      rgba(74, 74, 74, 0.02) 50%,
      rgba(74, 74, 74, 0.02) 100%
    ),
    linear-gradient(
      7deg,
      rgba(31, 31, 31, 0.04) 0%,
      rgba(31, 31, 31, 0.04) 50%,
      rgba(210, 210, 210, 0.04) 50%,
      rgba(210, 210, 210, 0.04) 100%
    ),
    linear-gradient(
      291deg,
      rgba(153, 153, 153, 0.07) 0%,
      rgba(153, 153, 153, 0.07) 50%,
      rgba(32, 32, 32, 0.07) 50%,
      rgba(32, 32, 32, 0.07) 100%
    ),
    linear-gradient(90deg, rgb(4, 164, 188), rgb(9, 51, 170));
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 70vh;
}

.title {
  width: 100;
  font-family: "Permanent Marker", sans-serif;
  font-size: 48px;
  color: #90d9f1;
  text-align: center;
  padding: 30px 0 10px;
}
.beta {
  -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
        transform: rotate(-25deg);
        position: absolute;
        margin: 25px 0 0 -60px;
        color: #ff2644;
}

.subheading {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #90d9f1;
}

.lgcol {
  flex: 1 1 auto;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.minicol {
  flex: 1 1 auto;
  flex-direction: column;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minicol a {
  cursor: pointer;
  white-space: nowrap;
  background: rgb(4, 164, 188);
  border-radius: 10px;
  padding: 5px 15px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

textarea {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  width: 96%;
  height: 100%;
  color: white;
  background-color: rgba(46, 97, 132, 0.5);
  padding: 10px;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  color: #333641;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  max-width: 1440px;
  margin: 40px auto;
  padding: 10px;
}

.footer a {
  color: #333641;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #90d9f1;
}
